<div class="card mb-3">
  <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQAf7n5SpWYrWJ_Gi1wSM3ht5Uv_vXCSb0Z8hVOTmUWa9GYlHPm" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{requiredTeacher.firstname}} {{requiredTeacher.lastname}}</h5>
    <p class="card-text"><ul>
        <li>Age : {{requiredTeacher.age}}</li>
        <li>Course : {{requiredTeacher.course}}</li>
        <li>Gender : {{requiredTeacher.gender}}</li>
        <li>Salary : {{requiredTeacher.salary}}</li>
      </ul></p>
    <a href="/web/teachers" class="btn btn-primary">Go Back</a>
  </div>
</div>